
body {
    background-color: #444;
    font-family: "Open Sans", Arial, sans-serif;
}

.container-fluid {
    padding: 0;
}

.sign-in-form {
    background-color: white;
    padding: 80px;
}

    .sign-in-form form {
        margin: 20px auto;
    }

@media screen and ( max-width:360px) {


    .sign-in-form {
        padding: 30px;
    }

        .sign-in-form form {
            margin: 10px auto;
        }
}
